<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="filename">test.log</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5level %l - %msg%n"/>
        </Console>
        <File name="LogFile" fileName="logs/guy.log" immediateFlush="true" append="true">
            <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <RollingFile name="RollingFile" filename="logs/guys.log" filePattern="logs/app-%d{dd-MM-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="LogFile" />
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>
</Configuration>